.parallax-container,
.parallax {
  max-height: 80px;

  @media screen and (min-width: 401px) {
    max-height: 100px;
  }

  @media screen and (min-width: 581px) {
    max-height: 160px;
  }

  @media screen and (min-width: 821px) {
    max-height: 220px;
  }

  @media screen and (min-width: 1441px) {
    max-height: 300px;
  }
}
